<div class="tab-pane fade show active" id="employees" role="tabpanel">
    <div class="row">
        <div class="col-6">
            <!-- <h2>Create Employee</h2> -->
        </div>
        <div class="col-6 text-end" >
            <button class="btn btn-success" (click)="isFormVisible.set(true)">Create New Employee</button>
        </div>
        </div>
</div>
    @if(isFormVisible()){
        <div class="container mt-5">
            <form action="/your-action-url" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control highlight-input" [(ngModel)]="employeeObj.first_name"  name="first_name" required>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control highlight-input" [(ngModel)]="employeeObj.last_name"  name="last_name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control highlight-input" [(ngModel)]="employeeObj.email"  name="email" required >
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age <span class="text-danger">*</span></label>
                    <input type="number" class="form-control highlight-input" [(ngModel)]="employeeObj.age" name="age" required>
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone Number (optional)</label>
                    <input type="tel" class="form-control highlight-input" [(ngModel)]="employeeObj.phone_number"  name="phone_number">
                </div>
                <div class="mb-3">
                    <label for="position" class="form-label">Position <span class="text-danger">*</span></label>
                    <input type="text" class="form-control highlight-input" [(ngModel)]="employeeObj.position"  name="position" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description (optional)</label>
                    <textarea class="form-control highlight-input" [(ngModel)]="employeeObj.description"  name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="profile_picture" class="form-label">Profile Picture (optional)</label>
                    <input type="file" class="form-control highlight-input"  [(ngModel)]="employeeObj.profile_picture"  name="profile_picture" accept="image/*">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" (click)="onSave()">Submit</button>
                    <button  type="button"   class="btn btn-success" (click)="isFormVisible.set(false)">Close</button>
                </div>

            </form>
        </div>

    }
    <div class="container mt-5">
        <h2>Employee List</h2>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Email Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody >
                @for (employee of employeeList; track $index) {
                <tr>
                    <td>{{employee.id}}</td>
                    <td>{{employee.first_name}}</td>
                    <td>{{employee.last_name}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.email}}</td> 
                    <td>
                        <button class="btn btn-primary" (click)="getDetails(employee.id)" (click)="isTableVisible.set(true)"> Details</button>
                        <button class="btn btn-warning" (click)="updateEmployee(employee)" >Update</button>
                        <button class="btn btn-danger ms-2" (click)="deleteEmployee(employee.id)">Delete</button>
                    </td>
                </tr>}
            </tbody>
        </table>
    </div>
<div>
@if (isTableVisible()){
<div class="container mt-5" *ngIf="employeeObj">
    <h2 class="mb-4">Employee Profile</h2>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Field</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First Name</td>
                <td>{{ employeeObj.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ employeeObj.last_name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ employeeObj.email }}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{ employeeObj.age }}</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>{{ employeeObj.phone_number }}</td>
            </tr>
            <tr>
                <td>Position</td>
                <td>{{ employeeObj.position }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ employeeObj.description }}</td>
            </tr>
            <tr>
                <td>Hiring Date</td>
                <td>{{ employeeObj.hiring_date }}</td>
            </tr>
            <tr>
                <td>Profile Picture</td>
                <td>
                    <img *ngIf="employeeObj.profile_picture" [src]="employeeObj.profile_picture" alt="Profile Picture" style="width: 150px; height: auto;">
                </td>
            </tr>
        </tbody>
    </table>
    <button  type="button"   class="btn btn-success" (click)="isTableVisible.set(false)">Close Details</button>
</div>
}
</div>