<div class="">
    <header class="d-flex justify-content-between align-items-center py-3 text-bg-dark">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a routerLink="/employee" class="nav-link">Employees</a></li>
        <li class="nav-item"><a routerLink="/vacation" class="nav-link">Request Vacations</a></li>
        <li class="nav-item"><a routerLink="/employee-vacation" class="nav-link">Vacations</a></li>
        <li class="nav-item"><a routerLink="/change-password" class="nav-link">Change Password</a></li>
      </ul>
      <button class="btn btn-danger ms-3"  (click)="LogOut()">Logout</button>
    </header>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>